.productIMG{
    width: 300px;
}

.orderform input[type='image']{
    width: 50px;
}

#manageCart table{
    width:70%;
    border-style: solid;   
}
#manageCart th{
    background-color: #cccc;
}
#manageCart td{
    width: 25%;
    font-weight: bold;
    text-align: center;
}
#manageCart input{
    background-color: bisque;
}
#manageCart #inputfields{
    margin: 50px 0px 50px 0px;
    width:250px;
}
#manageCart #inputfields input{
    width:250px;
    margin: 5px;
    height:20px;
}

#cartTabel tr td img{
    width: 30px;
    
}
#cartTabel tr td img:hover{
    cursor: pointer;
}
