/*
 Begin Welkom
 */

 *{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
  background-color: #E8E8E8;
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}
   
.header {
    background-image: url("../img//galaxy.jpg");
    background-size: 100%;
    background-position: center bottom;
    height: 40%; 
    width: 100%;
    display: block;
    box-shadow: 10px 10px 33px #333;

 }


.container{
        width: 80%;
        margin: auto;
}

.textbox-header{
      text-align: center;
      margin-top:5%;
}
.textbox{   
    text-align: center;
    margin-top: 5%;
    
}

.footerplaceholder{
    width: 100%;
    height: 3%;
    background-color: #333;
    bottom: 0%;
    position: fixed;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* 
Einde Welkom pagina
*/

/* Navigatie */
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    margin: 0;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(16,110,161);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content .header {
    background: rgba(16,110,161);
    padding: 16px;
    color: white;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .column {
    float: left;
    width: 100%;
    padding: 10px;
    background-color: #ccc;
  }
  
  .column a {
    color: black;
    padding: 16px;
    width: 20%;
    text-decoration: none;
    text-align: left;
  }
  
  .column a:hover {
    background-color: #ddd;
  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
 

  @media screen and (max-width: 790px) {
    .header {
        background-size: 1000px;
    }
  }


  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      height: auto;
    }
  }
  /* Einde Navigatie */
  /*Programeertaal styling*/
  .contImg {
    width: 100%;
  }
  .contInfo {
    position: absolute;
    left: 75%;
    width: 20%;
    padding-bottom: 20%;
  }
  .contBox {
    text-align: center;
    width: 65%;
    margin-top: 5%;
    padding-bottom: 5%;
  }

  .contOpsom {
    margin-top: 5px;  

  }
  .contOpsom li {
    list-style-type: none;
  }
  

  /* Meer info knop */
  .btn-group .button {
    background-color: rgba(16,110,161);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 250px;
    display: block;
    border-radius: 5px;
    margin-top: 5px;
    
  }
  a:link {
    color: black;
    text-decoration: none;
  }

  .btn-group .button:hover {
    background-color: rgb(18, 123, 184);
  }
  /* Paradigma styling */


  .paraBox {
    padding-bottom: 50%;
    text-align: center;
  }
  #paraHeadText {
    margin-bottom: 1%;
  }
  
  .btn-group .button:hover {
    background-color: rgb(18, 123, 184);
  }

/* generaties styling */

.GcontBox {
  text-align: center;
  width: 100%;
  margin-top: 5%;
  padding-bottom: 5%;
}

/* footer */
.footerplaceholder {
  text-align: center;
}
.container {
  width: 45%;
}
.container h1 {
  margin-top: 3%;
  margin-bottom: 2%;
}
.container h2,h3 {
  margin-top: 3%;
  margin-bottom: 2%;
}
