
/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  background:0.1;
  font-family: 'Lucida Sans Unicode', 'Arial', serif;
  color: Black;
  font-size: 25px;
}


h1, h3, h4, header .btn {
  font-weight: 700;
}

h1 {
  margin: 100px 0 20px;
  text-transform: uppercase;
  font-size: 2.6rem;
}

h3 {
  margin-bottom: 25px;
  font-size: 2.3rem;
  text-align: left;
}

h4 {
  font-size: 2rem;
}

h3:after {
  content: '';
  display: block;
  width: 10%;
  padding-top: 5px;
  border-bottom: 3px solid whitesmoke;
}

h1 + h4 {
  font-weight: normal;
}

a {
  text-align: center;
  outline: none;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color:white;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
  -webkit-transition: all ease .3s;
          transition: all ease .3s;
}

.btn {
  font-size: 1.2em;
  border-radius: 5px;
  padding: 12px 30px;
}

.block {
  width: 130px;
  margin: 0 auto;
  display: block;
}



/* HEADER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header .btn {
  text-transform: uppercase;
}

header a:hover, .about a:hover {
  background: #fcc316;
}

header .btn, .services {
  margin-top: 100px;
}

header {
  padding: 80px 0 150px;
}

.about, .contact {
  padding: 150px 0;
}

header {
  background: url("http://getwallpapers.com/wallpaper/full/7/0/5/844676-1920x1080-hd-backgrounds-1920x1080-for-android-tablet.jpg") no-repeat fixed center / cover;
  text-align: center;
}

nav ul, .contact ul {
  list-style: none;
  font-size: 0;
}

nav li, .contact li {
  margin-bottom: 0;
  display: inline-block;
}

nav li {
  width: 50%;
}

nav a {
  position: relative;
  width: 100%;
  height: 30px;
  padding: 10px 0;
  line-height: 30px;
}

nav li:nth-child(2n+1) a:after {
  position: absolute;
  content: '';
  top: 19.5px;
  right: -2.5px;
  z-index: 10;
  border-radius: 100%;
  background: steelblue;
  width: 5px;
  height: 5px;
}



/* SERVICES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.services a {
  padding: 25px;
  background: #3b5998;
  margin-top: 20px;
  border-radius: 20px;
  width: 50%;
}

.services a:hover {
  color: black;
}

.services span {
  font-size: 5.5em;
  color: #f4ba04;
}

.services a:hover span {
  color: white;
}

.services p {
  margin: 15px 0 0;
}
/* MEDIA QUERIES STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media (min-width: 550px) {

  
  a {
    box-shadow: 0 8px #f4ba04;
  }

  

  .services a:hover {
    box-shadow: 0 -8px #3b5998;
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15);
  }
  
 

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
  visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition:  opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}
:root {
    --primary-color: #3b5998;
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --menu-speed: 0.75s;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .showcase {
    background: var(--primary-color);
    color: #fff;
    height: 100vh;
    position: relative;
  }
  
  
  
  .showcase .showcase-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  
  .showcase h1 {
    font-size: 4rem;
  }
  
  .showcase p {
    font-size: 1.3rem;
  }
  
  .btn {
    display: inline-block;
    border: none;
    background: var(--primary-color);
    color: #fff;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
  }
  
  .btn:hover {
    opacity: 0.7;
  }
  
  /* MENU STYLES */
  .menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  .menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
  }
  
  .menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Hamburger Line */
  .menu-wrap .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
  }
  
  /* Hamburger Lines - Top & Bottom */
  .menu-wrap .hamburger > div::before,
  .menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }
  
  /* Moves Line Down */
  .menu-wrap .hamburger > div::after {
    top: 10px;
  }
  
  /* Toggler Animation */
  .menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  
  /* Turns Lines Into X */
  .menu-wrap .toggler:checked + .hamburger > div:before,
  .menu-wrap .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  
  /* Rotate On Hover When Checked */
  .menu-wrap .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  
  /* Show Menu */
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: var(--menu-speed);
  }
  
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.4s ease 0.4s;
  }
  
  .menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .menu-wrap .menu > div {
    background: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
  }
  
  .menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }
  
  .menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
  }
  :root {
      --primary-color: #3b5998;
      --overlay-color: rgba(24, 39, 51 , 0.85);
      --menu-speed: 0.75s;
    }
    
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
#header2{
  background: url("https://c4.wallpaperflare.com/wallpaper/373/1016/909/blue-purple-waves-stock-wallpaper-3b66cc6dc351cf499554bbc9cdac2c00.jpg") no-repeat fixed center / cover;
  text-align: center;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* Position the "prev button" to the left */
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  

}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}   

.main{
  background: url("https://3.bp.blogspot.com/-GCceAc-l0Rw/XIDWs1AWydI/AAAAAAAAMI4/EK3PRGiHTY4c1P1TGDbK404gX9b9aeteACHMYCw/s1600/expose-nature-2017-05-28.jpg") no-repeat fixed center / cover;
  text-align: center;
}

.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3b5998;
  color: white;
  text-align: center;
  margin-top: 5%;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column_footer {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row_footer:after{
  content: "";
  display: table;
  clear: both;
  }

  #h7{
    text-align: center;
    outline: none;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    color: white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
}

form{
  width: 100%;
  margin:0;
  text-align: center;
  
}
legend{
  font-size: 1.5em;
  font-weight: bold;
}
fieldset{
  border: solid 2px rgb(0, 0, 0);
  width: 70%;
  margin: auto;
  border-radius: 20px;
  background-color: #3b5998;
}

input, select, textarea{
  border: soldid 1px rgb(0, 0, 0);
  margin: 5px;
  padding: 5px 30px 5px 50px;
  width: 50%;
  text-align: center;
  font-size: 1em;
  border-radius: 5px;   
}
input: focus, textarea: focus{
  box-shadow: 6px 6px 10px #2eef1e;}
select{
  width: 35%;
}
input[type="date"]{
  width: 25%;
}
input[type="checkbox"],
input[type="radio"]{
  width: 4%;
  
}
input[type="submit"]{
  background-color: #55d1da;
  width: 43%;
  
  
}
input[type=submit]: hover {
  opacity: 1;
  transition: opacity 0.5s linear;
  
}   